{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Questions les plus fréquentes</h1>

    <div class="card hint" style="width: 80%;">
        <div class="card-body hint">
        Pour vos demandes concernant l'adhésion à l'association, merci d'écrire à <a href="mailto:adhesion@strashelp.org">adhesion@strashelp.org</a>.<br>
        </div>
    </div>
    <div class="card hint" style="width: 80%;">
        <div class="card-body hint">
        Pour les questions qui ne concernant pas le site, ou un contact professionnel, merci d'écrire à <a href="mailto:info@strashelp.org">info@strashelp.org</a>.
        </div>
    </div>

    <h2>Comment créer mon compte</h2>
    <p>Et quia Mesopotamiae tractus omnes crebro inquietari sueti praetenturis et stationibus servabantur agrariis,
        laevorsum flexo itinere Osdroenae subsederat extimas partes, novum parumque aliquando temptatum commentum adgressus.
        quod si impetrasset, fulminis modo cuncta vastarat. erat autem quod cogitabat huius modi.</p>
    <p>Procedente igitur mox tempore cum adventicium nihil inveniretur, relicta ora maritima in Lycaoniam adnexam Isauriae
        se contulerunt ibique densis intersaepientes itinera praetenturis provincialium et viatorum opibus pascebantur.</p>
    <p>Iam virtutem ex consuetudine vitae sermonisque nostri interpretemur nec eam, ut quidam docti, verborum magnificentia
        metiamur virosque bonos eos, qui habentur, numeremus, Paulos, Catones, Galos, Scipiones, Philos; his communis vita
        contenta est; eos autem omittamus, qui omnino nusquam reperiuntur.</p>

    <h2>Comment poster une annonce</h2>
    <p>Procedente igitur mox tempore cum adventicium nihil inveniretur, relicta ora maritima in Lycaoniam adnexam Isauriae
        se contulerunt ibique densis intersaepientes itinera praetenturis provincialium et viatorum opibus pascebantur.</p>
    <p>Iam virtutem ex consuetudine vitae sermonisque nostri interpretemur nec eam, ut quidam docti, verborum magnificentia
        metiamur virosque bonos eos, qui habentur, numeremus, Paulos, Catones, Galos, Scipiones, Philos; his communis vita
        contenta est; eos autem omittamus, qui omnino nusquam reperiuntur.</p
    <p>Et quia Mesopotamiae tractus omnes crebro inquietari sueti praetenturis et stationibus servabantur agrariis,
        laevorsum flexo itinere Osdroenae subsederat extimas partes, novum parumque aliquando temptatum commentum adgressus.
        quod si impetrasset, fulminis modo cuncta vastarat. erat autem quod cogitabat huius modi.</p>

    <h2>Quelles sont les types d'annonces autorisés</h2>
    <p>Et quia Mesopotamiae tractus omnes crebro inquietari sueti praetenturis et stationibus servabantur agrariis,
        laevorsum flexo itinere Osdroenae subsederat extimas partes, novum parumque aliquando temptatum commentum adgressus.
        quod si impetrasset, fulminis modo cuncta vastarat. erat autem quod cogitabat huius modi.</p>
    <p>Procedente igitur mox tempore cum adventicium nihil inveniretur, relicta ora maritima in Lycaoniam adnexam Isauriae
        se contulerunt ibique densis intersaepientes itinera praetenturis provincialium et viatorum opibus pascebantur.</p>
    <p>Iam virtutem ex consuetudine vitae sermonisque nostri interpretemur nec eam, ut quidam docti, verborum magnificentia
        metiamur virosque bonos eos, qui habentur, numeremus, Paulos, Catones, Galos, Scipiones, Philos; his communis vita
        contenta est; eos autem omittamus, qui omnino nusquam reperiuntur.</p>

    <h2>Comment gérer mes rendez-vous?</h2>
    <p>Sin autem ad adulescentiam perduxissent, dirimi tamen interdum contentione vel uxoriae condicionis vel commodi alicuius,
        quod idem adipisci uterque non posset. Quod si qui longius in amicitia provecti essent, tamen saepe labefactari,
        si in honoris contentionem incidissent; pestem enim nullam maiorem esse amicitiis quam in plerisque pecuniae
        cupiditatem, in optimis quibusque honoris certamen et gloriae; ex quo inimicitias maximas saepe inter amicissimos
        exstitisse.</p>

    <div class="card hint" style="width: 80%;">
        <div class="card-body hint">
        Si vous ne trouvez pas la réponse à votre question, vous pouvez nous contacter sur <a href="/Contact/contact">ce lien</a>.
        </div>
    </div>

{% endblock %}