{% extends 'layout.html.twig' %}

{% block title %}
    Bienvenue sur Stras'Help
{% endblock %}

{% block content %}
    <h1 class="col-4">Bienvenue {{ firstname }}</h1>
    <h1 class="col-4">Vos Rendez-vous</h1>
    <h1 class="col-4">Ils ont besoin de vous</h1>
    <h1 class="col-4">Dernières Annonces</h1>
    <h1 class="col-4">Top Actus</h1>
    <h1 class="col-4">Top Helpers</h1>
    <h2>Catégorie 1</h2>
    <h2>Catégorie 2</h2>
    <h2>Catégorie 3</h2>

{% endblock %}
