{% extends 'layout.html.twig' %}

{% block title %}
    Bienvenue sur Stras'Help
{% endblock %}

{% block content %}
    <h1>Vous êtes connecté</h1>
    <a href="/Session/logout">Me déconnecter</a>
{% endblock %}
