{% extends 'layoutUnlogged.html.twig' %}
{% block title %}Bienvenue sur Stras'Help
{% endblock %}

{% block content %}
                <a class="btn btn-info btn-block col-4 offset-4 mt-4" href="/Session/login">Se connecter</a><br/>
                <a class="btn btn-info btn-block col-4 offset-4" href="/Session/signup">M'inscrire</a>
                <p class="col-4 text-justify">Stras'Help est une association <u>exclusivement Strasbourgeoise</u>
                qui permet de mettre en relation des personnes pour l'échange de services <u>non-marchands.</u></p>
                <img src="assets/images/UnloggedHomepage_Education.jpg">
                <img src="assets/images/UnloggedHomepage_Education2.png">
                <img src="assets/images/UnloggedHomepage_Education3.jpg">
                <img src="assets/images/UnloggedHomepage_Cuisine.jpg">
                <img src="assets/images/UnloggedHomepage_Bricolage.jpg">
{% endblock %}