{% extends 'layout.html.twig' %}

{% block title %}
Bienvenue sur Stras'Help
{% endblock %}

{% block content %}

        <h1 class="h1 text-center col-4 offset-4">Stras'Help</h1>
        <a class="btn btn-info btn-block col-4 offset-4" href="/Session/login">Se connecter</a><br/>
        <a class="btn btn-info btn-block col-4 offset-4" href="/Session/signup">M'inscrire</a>

{% endblock %}
