{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Bienvenue sur Stras'Help</h1>
    <a href="/Session/index">Se connecter</a><br/>
    <a href="/Session/signup">M'inscrire</a>
{% endblock %}
