<footer>
    <div class="row container no-gutters m-0 footer align-items-center">
        <div class="col-12 col-md-3 child networks">
            <ul class="font-icon-example justify-content-around">
                <li class="item facebook text-white">
                    <a href="#">
                        <i class="fab fa-facebook-square text-white m-0" title="Stras'Help sur Facebook"></i>
                        <span>Facebook</span></a>
                </li>
                <li class="item twitter text-white">
                    <a href="#">
                        <i class="fab fa-twitter-square text-white m-0" title="@StrasHelp sur Twitter"></i>
                        <span>Twitter</span></a>
                </li>
                <li class="item instagram text-white">
                    <a href="#">
                        <i class="fab fa-instagram text-white m-0" title="@Stras_Help sur Instagram"></i>
                        <span>Instagram</span></a>
                </li>
            </ul>
        </div>
        <div class="col-12 col-md-9 child contact">
                <ul class="row justify-content-around">
                    <li>
                        <h4>Stras'Help</h4>
                    </li>
                    <li>
                        5 rue de Verdun
                    </li>
                    <li>
                        67000 STRASBOURG
                    </li>
                    <li>
                        03.88.32.32.32
                    </li>
                    <li>
                        info@strashelp.org
                    </li>
                    <li>
                        adhesion@strashelp.org
                    </li>
                </ul>
        </div>
    </div>
</footer>