<footer>
    <div class="row no-gutters m-0 footer">
        <div class="col-12 col-sm-3 child">
            <div class="details">
                <ul>
                    <li>
                        <h4>Aide</h4>
                    </li>
                    <li>
                        <a href="/Home/faq">Questions fréquentes</a>
                    </li>
                    <li>
                        <a href="/Contact/contact">Contacter Stras'Help</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-12 col-sm-3 child">
            <div class="details">
                <ul>
                    <li>
                        <h4>Mentions légales</h4>
                    </li>
                    <li>
                        <a href="#">CGU</a>
                    </li>
                    <li>
                        <a href="#">L'équipe Stras'Help</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-12 col-sm-3 child networks">
            <ul class="font-icon-example justify-content-around">
                <li class="item facebook text-white">
                    <a href="#">
                        <i class="fab fa-facebook-square text-white m-0" title="Stras'Help sur Facebook"></i>
                        <span>Facebook</span></a>
                </li>
                <li class="item twitter text-white">
                    <a href="#">
                        <i class="fab fa-twitter-square text-white m-0" title="@StrasHelp sur Twitter"></i>
                        <span>Twitter</span></a>
                </li>
                <li class="item instagram text-white">
                    <a href="#">
                        <i class="fab fa-instagram text-white m-0" title="@Stras_Help sur Instagram"></i>
                        <span>Instagram</span></a>
                </li>
            </ul>
        </div>
        <div class="col-12 col-sm-3 child contact">
            <div class="details">
                <ul>
                    <li>
                        <h4>Stras'Help</h4>
                    </li>
                    <li>
                        5 rue de Verdun
                    </li>
                    <li>
                        67000 STRASBOURG
                    </li>
                </ul>
            </div>
            <div class="details">
                <ul>
                    <li>
                        03.88.32.32.32
                    </li>
                    <li>
                        <a href="mailto:info@strashelp.org">info@strashelp.org</a>
                    </li>
                    <li>
                        <a href="mailto:adhesion@strashelp.org">adhesion@strashelp.org</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>