<footer>
    <div class="row no-gutters">
        <div class="col-3">
            <div class="details">
                <h3>Aide</h3>
            </div>
            <div class="details">
                <ul>
                    <li>
                        <a href="/Home/faq">Questions fréquentes</a>
                    </li>
                    <li>
                        <a href="Contact/contact">Contacter l'équipe Stras'Help</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-3">
            <div class="details">
                <h3>Mentions légales</h3>
            </div>
            <div class="details" >
                <ul>
                    <li>
                        <a href="Help/cgu">Conditions générales d'utilisation</a>
                    </li>
                    <li>
                        <a href="Asso/team">L'équipe Stras'Help</a>
                    </li>
                    <li>
                        Social media icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> and <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-3 networks">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active m-3">
                    <a class="nav-link" href="" title="Stras'Help sur Facebook">
                        <img class="social" alt="Cliquer pour accéder à la page Facebook de Stras'Help" src="/assets/images/facebook.png"/>
                    </a>
                </li>
                <li class="nav-item active m-3">
                    <a class="nav-link" href="" title="@StrasHelp sur Twitter">
                        <img class="social" alt="Cliquer pour accéder à la page Twitter de Stras'Help" src="/assets/images/twitter.png"/>
                    </a>
                </li>
                <li class="nav-item active m-3">
                    <a class="nav-link" href="" title="@Stras_Help sur Instagram">
                        <img class="social" alt="Cliquer pour accéder à la page Instagram de Stras'Help" src="/assets/images/instagram.png"/>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-3 contact">
            <div class="details">
                <h3>Stras'Help</h3>
            </div>
            <div class="details">
                <ul>
                    <li>
                        5 rue de Verdun<br />
                        67000 STRASBOURG
                    </li>
                </ul>
            </div>
            <div class="details">
                <ul>
                    <li>
                        03.88.32.32.32
                    </li>
                    <li>
                        info@strashelp.org<br />
                        adhesion@strashelp.org
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="covered">
    </div>
</footer>