<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 offset-lg-0 offset-xl-1 item">
                    <h3>Aide</h3>
                    <ul>
                        <li data-bs-hover-animate="pulse"><a data-bs-hover-animate="rubberBand" href="../Item/faq.html.twig">Question fréquentes</a></li>
                        <li data-bs-hover-animate="pulse"><a href="../Item/contact.html.twig">Contacter l'équipe Stras'Help</a></li>
                        <li><a href="#"></a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 offset-lg-0 item">
                    <h3>Mentions Légales</h3>
                    <ul>
                        <li data-bs-hover-animate="pulse">Condition général d'utilisation</li>
                        <li data-bs-hover-animate="pulse"><a>L'équipe Stras'Help</a></li>
                        <li data-bs-hover-animate="pulse"><a data-bs-hover-animate="pulse" href="#">Social media icons made by Freepik and Pixel perfect from www.flaticon.com</a></li>
                    </ul>
                </div>
                <div class="col-md-6 col-lg-3 col-xl-4 offset-lg-0 offset-xl-0 item text">
                    <h3>Stras'Help</h3>
                    <p>Stras'Help<br> 5 rue de Verdun<br>67000 STRASBOURG<br>03.88.32.32.32<br>info@strashelp.org<br>adhesion@strashelp.org<br></p>
                </div>
                <div class="col-lg-1 col-xl-10 offset-lg-1 offset-xl-1 item social"><a data-bs-hover-animate="rubberBand" href="#" target="_blank"><i class="icon ion-social-facebook" data-bs-hover-animate="rubberBand"></i></a><a data-bs-hover-animate="rubberBand" href="#"><i class="icon ion-social-twitter" data-bs-hover-animate="rubberBand"></i></a>
                    <a
                            data-bs-hover-animate="rubberBand" href="#"><i class="icon ion-social-snapchat"></i></a><a data-bs-hover-animate="rubberBand" href="#"><i class="icon ion-social-instagram"></i></a></div>
            </div>
            <p class="copyright">Stras'Help © 2017</p>
        </div>
    </footer>
</div>
