<div class="background">
    <nav>
    <ul class="font-icon-example justify-content-around">
        <li class="item home text-white"><a href="/Home/index"><i class="fas fa-home text-white"></i><span>HOME</span></a></li>
        <li class="item profile dropdown text-white">
            <a href="#" data-toggle="dropdown" aria-haspopup="true" id="iconMenu"><i class="fas fa-user-alt nav-item dropdown account text-white" aria-expanded="true" title="Mon compte"></i>
                <span>MON COMPTE</span>
                <div class="dropdown-menu account" aria-labelledby="dropdownAccount" id="menuCompte">
                    <a class="dropdown-item" href="/profile/myprofile">Mon profil</a>
                    <a class="dropdown-item" href="?page=">Rendez-vous</a>
                    <a class="dropdown-item" href="/Home/theyNeedYou">Ils ont besoin...</a>
                    <a class="dropdown-item" href="?page=">Préférences</a>
                    <a class="dropdown-item" href="/Session/logout">Déconnexion</a>
                </div>
            </a>
        </li>
        <li class="item statistics text-white"><a href="#"><i class="far fa-calendar text-white"></i><span>CALENDRIER</span></a></li>
        <li class="item search text-white"><a href="/Search/addPost"><i class="fas fa-pencil-square text-white"></i><span>NOUVEAU</span></a></li>
        <li class="item search text-white"><a href="/Search/search"><i class="fas fa-search text-white"></i><span>RECHERCHE</span></a></li>
        <li class="item search  text-white"><a href="/Blog/liste"><i class="fas fa-newspaper"></i><span>ARTICLES</span></a></li>
        <li class="item logout text-white"><a href="/Session/logout"><i class="fas fa-sign-out-alt text-white"></i><span>DÉCONNEXION</span></a></li>

    </ul>
    </nav>
</div>