<div class="background">
    <div class="font-icon-example">
        <div class="item home"><a href="/Home/index"><i class="fas fa-home"></i><span>HOME</span></a></div>
        <div class="item profile dropdown">
            <a href="#" data-toggle="dropdown" aria-haspopup="true"><i class="fas fa-user-alt nav-item dropdown account" aria-expanded="true" title="Mon compte"></i>
                <span>MON COMPTE</span>
                    <div class="dropdown-menu account" aria-labelledby="dropdownAccount">
                        <a class="dropdown-item" href="/profile/myprofile/1">Mon profil</a>
                        <a class="dropdown-item" href="?page=">Messagerie</a>
                        <a class="dropdown-item" href="?page=">Rendez-vous</a>
                        <a class="dropdown-item" href="?page=">Préférences</a>
                        <a class="dropdown-item" href="/Session/logout">Déconnexion</a>
                    </div>
            </a>
        </div>
        <div class="item statistics"><a href="#"><i class="far fa-calendar"></i><span>CALENDRIER</span></a></div>
        <div class="item about"><a href="#"><i class="fas fa-info-circle"></i><span>À PROPOS</span></a></div>
        <div class="item contact"><a href="#"><i class="fa fa-phone"></i><span>CONTACT</span></a></div>
        <div class="item search"><a href="/Search/search"><i class="fas fa-search"></i><span>RECHERCHE</span></a></div>
    </div>
</div>