<div class="background">
    <div class="font-icon-example justify-content-around">
        <div class="item home text-white"><a href="/Home/index"><i class="fas fa-home text-white"></i><span>HOME</span></a></div>
        <div class="item profile dropdown  text-white">
            <a href="#" data-toggle="dropdown" aria-haspopup="true"><i class="fas fa-user-alt nav-item dropdown account text-white" aria-expanded="true" title="Mon compte"></i>
                <span>MON COMPTE</span>
                    <div class="dropdown-menu account" aria-labelledby="dropdownAccount">
                        <a class="dropdown-item" href="/profile/myprofile">Mon profil</a>
                        <a class="dropdown-item" href="?page=">Messagerie</a>
                        <a class="dropdown-item" href="?page=">Rendez-vous</a>
                        <a class="dropdown-item" href="?page=">Préférences</a>
                        <a class="dropdown-item" href="/Session/logout">Déconnexion</a>
                    </div>
            </a>
        </div>
        <div class="item statistics text-white"><a href="#"><i class="far fa-calendar text-white"></i><span>CALENDRIER</span></a></div>
        <div class="item about text-white"><a href="#"><i class="fas fa-info-circle text-white"></i><span>À PROPOS</span></a></div>
{#        <div class="item contact text-white"><a href="#"><i class="fa fa-phone text-white"></i><span>CONTACT</span></a></div>#}
        <div class="item search text-white"><a href="/Search/search"><i class="fas fa-people-carry text-white"></i><span>RECHERCHE</span></a></div>
        <div class="item logout text-white"><a href="/Session/logout"><i class="fas fa-sign-out-alt text-white"></i><span>DÉCONNEXION</span></a></div>

    </div>
</div>