<div class="background">
    <div class="font-icon-example">
        <div class="item home"><a href="/Home/index"><i class="fas fa-home"></i><span>HOME</span></a></div>
        <div class="item profile">
            <a href="#" data-toggle="dropdown" aria-haspopup="true"><i class="fas fa-user-alt nav-item dropdown account" aria-expanded="false" title="Mon compte"></i>
                <span>PROFILE</span>
                    <div class="dropdown-menu account" aria-labelledby="dropdownAccount">
                        <a class="dropdown-item" href="/profile/myprofile/1">Mon compte</a>
                        <a class="dropdown-item" href="?page=">Ma messagerie</a>
                        <a class="dropdown-item" href="?page=">Gérer mes rendez-vous</a>
                        <a class="dropdown-item" href="?page=">Préférences</a>
                        <a class="dropdown-item" href="/Session/logout">Déconnexion</a>
                    </div>
            </a>
        </div>
        <div class="item statistics"><a href="#"><i class="far fa-calendar"></i><span>CALENDAR</span></a></div>
        <div class="item about"><a href="#"><i class="fas fa-info-circle"></i><span>ABOUT</span></a></div>
        <div class="item contact"><a href="#"><i class="fa fa-phone"></i><span>CONTACT US</span></a></div>
        <div class="item search"><a href="/Search/search"><i class="fas fa-search"></i><span>SEARCH</span></a></div>
    </div>
</div>