{% extends 'layout.html.twig' %}

{% block content %}
    <table id="myTable" class="display" style="width:100%; background: #7597ff">
        <thead>
        <tr>
            <th>Titre</th>
            <th>Date de début</th>
            <th>Contenu</th>
            <th>Annonceur</th>
        </tr>
        </thead>
        <tbody style="background: #7597ff">
        {% for searchid in search %}
            <tr style="background: #7597ff">
                <td  style="background: #7597ff"><a href=""> {{ searchid.title }}</a></td>
                <td style="background: #7597ff">{{ searchid.start_hour }}</td>
                <td style="background: #7597ff">{{ searchid.text_annoucement }}</td>
                <td style="background: #7597ff"><a href="">{{ searchid.id_user }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascript %}
<script>
$(document).ready( function () {
    $('#myTable').DataTable();
} );
</script>
{% endblock %}
