html {
  height: 100%;
}

body {
  height: 100%;
}

nav ul {
  padding: 0 0 10px 0;
  margin: 0;
}
#myTable{
  z-index: 1;
}

.backgroundUnlogged {
  background: #138496;
  display: flex;
  justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 2000;
}
.background {
  background: #138496;
  display: flex;
  justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 2000;
}

.headerFlex {
  display: flex !important;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.titreUnloggedContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerMenuUnlogger{
  color: white;
  margin: 0;
  text-decoration: none;
  padding: 0;
  align-items: center;
}

.headerMenuUnlogger a{
  color: white;
  text-decoration: none;
}

.headerMenuUnlogger a:hover{
  color: white;
  text-decoration: underline;
}

h1 a {
  color: white;
  text-decoration: none;
}
h1 a:hover {
  color: white;
  text-decoration: none;
}
.font-icon-example {
  max-width: 750px;
  height: 70px;
  display: table;
  z-index: 2;
}

.font-icon-example .item {
  display: block;
  text-align: center;
  width: 110px;
  vertical-align: middle;
  padding-bottom: 20px;
  transition: 0.2s;
  transform: translateY(10px);
}

.font-icon-example .item a {
  color: inherit;
  text-decoration: none;
}

.font-icon-example .item span {
  text-decoration: none;
  opacity: 0;
  font-size: 14px;
}

.font-icon-example .item:hover span {
  display: initial;
  color: inherit;
  opacity: 1;
}

.font-icon-example .item i {
  width: 100%;
  font-size: 40px;
  margin-bottom: 5px;
}

.font-icon-example .item:hover {
  transform: translateY(3px);
}

.font-icon-example .item.home:hover {
  color: #02546B;
}

.font-icon-example .item.profile:hover {
  color: #02546B;
}

.font-icon-example .item.statistics:hover {
  color: #02546B;
}

.font-icon-example .item.about:hover {
  color: #02546B;
}

.font-icon-example .item.contact:hover {
  color: #02546B;
}

.font-icon-example .item.search:hover {
  color: #02546B;
}
.cachee {
  transition: 1s ease;
}
.profilPic {
  display: flex;
  justify-content: center;
}
.overlay-image {
  position: relative;
}
/* Image originale */
.overlay-image .image {
  display: block;
}
/* Overlay */
.overlay-image .hover {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}
/* Apparition overlay sur passage souris */
.overlay-image:hover .hover {
  opacity: 1;
  background-color: #00002277;
  border-radius: 5px;
}
/* Texte original */
.overlay-image .text {
  color: #fff;
  font-size: 30px;
  line-height: 1.5em;
  /*
  text-shadow: 2px 2px 2px #000;
  */
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -90%);
  width: 100%;
}
.overlay-image .text2 {
  color: #fff;
  font-size: 1em;
  line-height: 1.5em;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 100%;
}

a .profilPicChange{
  position: relative;
  top : -30px;
  color: white !important;
  height: 30px;
}
a:hover .profilPicChange {
  color: blue !important;
  background-color: #00000088 !important;
  text-decoration: none;
}

footer {
  background-color: #FFA84F;
  color: #02546B;
  /* position: absolute;    === à voir pour les media queeries */
  bottom: 0;
  width:100%;
}

footer a {
  color: #02546B;
}

footer a:hover {
  color: whitesmoke;
  text-decoration: none;
}

footer a:visited {
  color: #AC5700;
}

footer ul {
  list-style:none;
  margin-left:0;
  padding-left:10px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
}

.details ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.networks ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-basis: content;
  align-items: center;
}

.footer {
  justify-content: center;
}

.child {
  justify-content: center;
}

.child ul,
.child .details{
  justify-content: center;
  align-items: center;
}

footer h4{
  font-size: 20px;
}

.covered {
  display: none;
  height: 40px;
}

.bricolage {
  cursor:pointer;
  background-image: linear-gradient(
          rgba(0, 0, 0, 0.4),
          rgba(0, 0, 0, 0.6)
  ),url("../images/bricolage.jpg");
  background-size: cover;
}

.cuisine {
  cursor:pointer;
  background-image: linear-gradient(
          rgba(0, 0, 0, 0.4),
          rgba(0, 0, 0, 0.6)
  ),url("../images/cuisine.jpg");
  background-size: cover;
}

.education {
  cursor:pointer;
  background-image: linear-gradient(
          rgba(0, 0, 0, 0.4),
          rgba(0, 0, 0, 0.6)
  ),url("../images/education.jpg");
  background-size: cover;
}

@media (max-width: 400px) {
  h1 {
    font-size: 1.5em !important;
  }
  .titreUnloggedContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .unlogged {
    transform: translateY(-10px);
  }

  .footer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .child {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .child ul,
  .child .details,
  .details h4{
    justify-content: center;
    align-items: center;
  }

  .details ul,
  .networks ul{
    align-items: center;
  }

  footer h4{
    font-size: 24px;
  }

  @media (min-width: 401px) and (max-width: 766px) {
    li {
      font-size: 11px;
    }
  }

  @media (max-width: 767px) {
    li {
      font-size: 11px;
    }

    .background {
      width: 100% !important;
      height: 70px;
      position: fixed;
      top:calc(100% - 70px);
      background: #138496;
      justify-content: center;

      z-index: 2000;
    }

    nav {
      width: 100% !important;
      display: flex;
    }
    nav ul {
      width: 100% !important;
      display: flex !important;
      flex-direction: row !important;
      flex-wrap: nowrap;
      align-items: center;
      margin: 0;
    }

    .font-icon-example .item i {
      font-size: 150% !important;
      margin: 0 !important;
      padding: 0 !important;
    }

    .font-icon-example .item span {
      display: none !important;
      font-size: 50% !important;
    }
    .font-icon-example .item {
      display: block;
      text-align: center;
      width: 70px;
      vertical-align: middle;
      margin: 0 !important;
      padding: 0 !important;
    }
    .font-icon-example .item:hover {
      transform: translateY(0) !important ;
    }
    .covered {
      display: block;
    }
  }

  @media (min-width: 768px) {
    li {
      font-size: 12px;
    }
    .font-icon-example .item {
      display: table-cell;
      padding-bottom: 0;
    }
    .font-icon-example {
    }
    footer h4{
      font-size: 22px;
    }
  }

  @media (min-width: 992px) {
    .font-icon-example .item {
      display: table-cell;
      padding-bottom: 0;
    }
    .font-icon-example {
    }
    footer h4{
      font-size: 26px;
    }
  }
}
