html {
  height: 100%;
}

body {
  height: 100%;
}
#myTable{
  z-index: 1;
}

.background {
  background: #7597ff;
  display: flex;
  justify-content: center;
}

.headerFlex {
  display: flex !important;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.titreUnloggedContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerMenuUnlogger{
  color: white;
  margin: 0;
  text-decoration: none;
  padding: 0;
  align-items: center;
}

.headerMenuUnlogger a{
  color: white;
  text-decoration: none;
}

.headerMenuUnlogger a:hover{
  color: white;
  text-decoration: underline;
}

h1 a {
  color: white;
  text-decoration: none;
}
h1 a:hover {
  color: white;
  text-decoration: none;
}
.font-icon-example {
  max-width: 750px;
  height: 100px;
  display: table;
  z-index: 2;
}

.font-icon-example .item {
  display: block;
  text-align: center;
  width: 110px;
  vertical-align: middle;
  padding-bottom: 20px;
  transition: 0.2s;
  transform: translateY(10px);
}

.font-icon-example .item a {
  color: inherit;
  text-decoration: none;
}

.font-icon-example .item span {
  text-decoration: none;
  opacity: 0;
  font-size: 14px;
}

.font-icon-example .item:hover span {
  display: initial;
  color: inherit;
  opacity: 1;
}

.font-icon-example .item i {
  width: 100%;
  font-size: 40px;
  margin-bottom: 5px;
}

.font-icon-example .item:hover {
  transform: translateY(3px);
}

.font-icon-example .item.home:hover {
  color: #02546B;
}

.font-icon-example .item.profile:hover {
  color: #02546B;
}

.font-icon-example .item.statistics:hover {
  color: #02546B;
}

.font-icon-example .item.about:hover {
  color: #02546B;
}

.font-icon-example .item.contact:hover {
  color: #02546B;
}

.font-icon-example .item.search:hover {
  color: #02546B;
}
.cachee {
  transition: 1s ease;
}
.profilPic {
  display: flex;
  justify-content: center;
}
.overlay-image {
  position: relative;
}
/* Image originale */
.overlay-image .image {
  display: block;
}
/* Overlay */
.overlay-image .hover {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}

/* Apparition overlay sur passage souris */
.overlay-image:hover .hover {
  opacity: 1;
  background-color: #00002277;
  border-radius: 5px;
}
/* Texte original */
.overlay-image .text {
  color: #fff;
  font-size: 30px;
  line-height: 1.5em;
  /*
  text-shadow: 2px 2px 2px #000;
  */
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -90%);
  width: 100%;
}
.overlay-image .text2 {
  color: #fff;
  font-size: 1em;
  line-height: 1.5em;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 100%;
}

a .profilPicChange{
  position: relative;
  top : -30px;
  color: white !important;
  height: 30px;
}
a:hover .profilPicChange {
  color: blue !important;
  background-color: #00000088 !important;
  text-decoration: none;
}

@media (min-width: 768px) {
  .font-icon-example .item {
    display: table-cell;
    padding-bottom: 0;
  }
  .font-icon-example {
  }
}


