{% extends 'layout.html.twig' %}

{% block content %}

<form action="" method="POST">
    <div id="form">
        <h3>
            Signaler l'annonce intitulée "{{ post.title }}"
        </h3>
        <label for="themeList">Motif du signalement :</label>
        <SELECT id="themeList" name="theme" size="1" required>
            <OPTION value="">--Choisir dans la liste--
            <OPTION value="Scam">Arnaque, spam ou fausse identité
            <OPTION value="Fee">Propose/recherche un service payant
            <OPTION value="Other">AUTRES
        </SELECT>
        <label for="alert">Merci de préciser :</label>
        <textarea id="alert" name="alert_message" required autofocus placeholder="Entrez votre message"></textarea>
        <div class="button">
            <input type="submit" value="Valider">
            <div style="clear:both"></div>
        </div>
    </div>
</form>

{% endblock %}
