{% extends 'layout.html.twig' %}

{% block content %}
    {{ message }}

    <form class="Session_form" target="" method="POST">
        <div>
            <label  for="nom">Login ou adresse e-mail :</label><br/>
            <input  type="text"  id="login"  name="login" required /> {# <?php if(isset($_POST['user_name'])) echo ('value="'.$_POST['user_name'].'"'); ?> /><?php if(isset($errors['user_name'])) echo ' '.$errors['user_name']; ?>#}
        </div>
        <div>
            <label  for="password">Mot de passe :</label><br/>
            <input  type="password"  id="password"  name="password" required /> {#<?php if(isset($_POST['user_firstname'])) echo ('value="'.$_POST['user_firstname'].'"'); ?> /><?php if(isset($errors['user_firstname'])) echo ' '.$errors['user_firstname']; ?>#}
        </div>

        <div  class="button">
            <button  type="submit">Envoyer</button>
        </div>
    </form>
{% endblock %}
