{% extends 'layoutUnlogged.html.twig' %}

{% block menu %}
    <div class="row headerMenuUnlogger">
        <div class="item home text-white"><a href="/Session/login"><i class="fas fa-sign-in-alt"></i><span>Se connecter</span></a></div>
        <div class="item home text-white"><a href="/Session/signup"><i class="fas fa-user-plus"></i><span>S'incrire</span></a></div>
    </div>
{% endblock %}

{% block title %}
Recouvrement de mot de passe
{% endblock %}

{% block content %}
<form class="Session_form text-center border border-light p-5">
    <p class="h4 col-4 offset-4">Identifiants perdus</p>
</form>
{% endblock %}