{% extends 'layout.html.twig' %}

{% block title %}
Recouvrement de mot de passe
{% endblock %}

{% block content %}
<form class="Session_form text-center border border-light p-5">
    <p class="h4 col-4 offset-4">Identifiants perdus</p>
</form>
{% endblock %}