{% extends 'layout.html.twig' %}

{% block meta %}
    <meta http-equiv="refresh" content="3; URL=/" />
{% endblock %}

{% block title %}Inscription validée{% endblock %}

{% block content %}
<form class="Session_form text-center border border-light p-5">
    <p class="h4 col-4 offset-4">Votre inscription est bien enregistrée</p>
    <p class="col-4 offset-4">Vous allez être redirigé(e) vers la page principale dans quelques secondes.</p>
    <p class="col-4 offset-4">Si rien ne se passe, <a href="/">cliquez ici</a> </p>

</form>
{% endblock %}